{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar.twig" %}

    <!-- Page Content  -->
    <div id="content" class="home">
        {% include "../templates/partials/navbar-basic.twig" %}

        <div class="container">
            <div class="main d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="header">Project Type</h1>
                </div>
                <div class="row icons">
                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/standard-project.svg" alt="Standard Template" onload="SVGInject(this)">
                            </div>
                            Standard Template
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 1
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 2
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 3
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 4
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 5
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 5
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 5
                        </a>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-md-3 col-xl-2">
                        <a href="np-project-info.html">
                            <div class="icon">
                                <img src="/img/icons/custom-project.svg" alt="Custom Template" onload="SVGInject(this)">
                            </div>
                            Custom 5
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="overlay"></div>
{% endblock %}
