{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar.twig" %}

    <!-- Page Content  -->
    <div id="content" class="home">
        <nav class="navbar navbar-light bg-light">
            <div class="btn-wrapper btn d-lg-none">
                <button type="button" id="sidebarCollapse">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div class="input-group input-search mr-auto order-3 order-lg-1">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-right-0">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input class="form-control py-2 border-left-0 border" type="search" value="Search Projects..." id="search-input" />
            </div>

            <div class="spinner d-none d-lg-inline order-1 order-lg-2">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only">Changes Saved</span>
                </div>
                <strong class="spinner-status">Changes Saved</strong>
            </div>

            <div class="logo">
                <img src="/img/logo-green.svg" alt="Greenbudget Logo" class="d-block d-lg-none" onload="SVGInject(this)">
            </div>

            <ul class="navbar-nav order-2 order-lg-3">
                <li class="nav-item">
                    <a class="nav-link avatar" href="#">
                        <img src="/img/avatar.svg" class="user-avatar" onload="SVGInject(this)" alt="User Avatar">
                        <span class="d-none d-lg-inline">Jens Jacob</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="container d-flex">
            <div class="main d-flex flex-column">
                <h1 class="header">Project Type</h1>
                <div class="row icons">
                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="fas fa-film"></i>
                        </div>
                        <p>Standard Template</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 1</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 2</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 3</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 4</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 5</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 5</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 5</p>
                    </div>

                    <div class="icon-wrapper col-6 col-sm-4 col-xl-2">
                        <div class="icon">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <p>Custom 5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay"></div>
{% endblock %}
