{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar.twig" %}

    <!-- Page Content  -->
    <div id="content" class="budgets">
        <div class="container">

        </div>
    </div>

</div>

<div class="overlay"></div>
{% endblock %}
