{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar.twig" %}

    <!-- Page Content  -->
    <div id="content" class="new-project">
        {% include "../templates/partials/navbar-basic.twig" %}

        <div class="container">
            <form class="needs-validation" novalidate>
                <h1 class="header">Project Info</h1>
                <div class="form-row">
                    <div class="col-xl-6 pr-xl-4">
                        <div class="form-group">
                            <label for="productionName" class="col-form-label">Production Name:</label>
                            <input type="text" class="form-control" id="productionName" required>
                        </div>

                        <div class="form-group">
                            <label for="projectNumber" class="col-form-label">Project Number:</label>
                            <input type="text" class="form-control" id="projectNumber" required>
                        </div>

                        <div class="form-group">
                            <label for="productionType" class="col-form-label">Production Type:</label>
                            <input type="text" class="form-control" id="productionType" required>
                        </div>

                        <div class="form-group">
                            <label for="shootingFormat" class="col-form-label">Shooting Format:</label>
                            <input type="text" class="form-control" id="shootingFormat" required>
                        </div>

                        <div class="form-group image-upload">
                            <label for="uploadImage">
                                <img src="img/upload-image.svg" alt="Upload an Image">
                                <p id="emailHelp" class="form-text text-muted text-center">Upload Project Image</p>
                            </label>
                            <input type="file" class="form-control-file" id="uploadImage" required>
                        </div>
                    </div>

                    <div class="col-xl-6 pl-xl-4">
                        <div class="form-group">
                            <label for="shootDateRange" class="col-form-label">Shoot Dates:</label>
                            <input type="text" class="form-control" id="shootDateRange" placeholder="Select Dates.." data-input required>
                        </div>

                        <div class="form-group">
                            <label for="deliveryDate" class="col-form-label">Delivery Date:</label>
                            <input type="text" class="form-control calendar" id="deliveryDate" placeholder="Select Date.." required>
                        </div>
                        <div class="form-group">
                            <label for="buildDays" class="col-form-label">Build Days:</label>
                            <input type="text" class="form-control" id="buildDays" required>
                        </div>
                        <div class="form-group">
                            <label for="preflightDays" class="col-form-label">Prelight Days:</label>
                            <input type="text" class="form-control" id="preflightDays" required>
                        </div>
                        <div class="form-group">
                            <label for="studioShootDays" class="col-form-label">Studio Shoot Days:</label>
                            <input type="text" class="form-control" id="studioShootDays" required>
                        </div>
                        <div class="form-group">
                            <label for="locationDays" class="col-form-label">Location Days:</label>
                            <input type="text" class="form-control" id="locationDays" required>
                        </div>
                    </div>

                    <div class="button-group">
                        <button type="button" class="btn btn-light btn-border">Cancel</button>
                        {# <a class="btn btn-dark" href="np-production-info.html" role="button">Next</a> #}
                        <button type="submit" class="btn btn-dark">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="overlay"></div>
{% endblock %}
