{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar.twig" %}

    <!-- Page Content  -->
    <div id="content" class="new-project">
        {% include "../templates/partials/navbar-basic.twig" %}

        <div class="container">
            <form class="needs-validation" novalidate>
                <h1 class="header">Project Info</h1>
                <div class="form-row">
                    <div class="col-xl-6 pr-xl-4">
                        <div class="form-group row">
                            <label for="productionName" class="col-sm-3 col-form-label">Production Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="productionName">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="projectNumber" class="col-sm-3 col-form-label">Project Number:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="projectNumber">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="productionType" class="col-sm-3 col-form-label">Production Type:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="productionType">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="shootingFormat" class="col-sm-3 col-form-label">Shooting Format:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="shootingFormat">
                            </div>
                        </div>

                        <div class="form-group row image-upload">
                            <label for="uploadImage" class="col-sm-3 col-form-label">Project Image:</label>
                            <div class="col-sm-9">
                                <label for="uploadImage">
                                    <img src="img/upload-image.svg" alt="Upload an Image">
                                    <p id="emailHelp" class="form-text text-muted text-center">Upload an Image</p>
                                </label>
                                <input type="file" class="form-control-file" id="uploadImage">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 pl-xl-4">
                        <div class="form-group row">
                            <label for="shootDateFrom" class="col-sm-3 col-form-label">Shoot Dates:</label>
                            <div class="col-sm-9">
                                <div class="form-row">
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" id="shootDateFrom">
                                    </div>
                                    <div class="col-md-2">
                                        <label for="shootDateTo" class="col-sm-3 col-form-label pl-0 pr-0 float-md-right">To:</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="date" class="form-control" id="shootDateTo">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="shootingFormat" class="col-sm-3 col-form-label">Delivery Date:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="date" class="form-control" id="shootingFormat">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="buildDays" class="col-sm-3 col-form-label">Build Days:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="buildDays">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="preflightDays" class="col-sm-3 col-form-label">Prelight Days:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="preflightDays">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="studioShootDays" class="col-sm-3 col-form-label">Studio Shoot Days:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="studioShootDays">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="locationDays" class="col-sm-3 col-form-label">Location Days:</label>
                            <div class="col-sm-9 col-md-4 col-lg-9 col-xl-5">
                                <input type="text" class="form-control" id="locationDays">
                            </div>
                        </div>
                    </div>

                    <div class="button-group">
                        <button type="button" class="btn btn-light btn-border">Cancel</button>
                        <a class="btn btn-dark" href="np-production-info.html" role="button">Next</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="overlay"></div>
{% endblock %}
