{% extends "../templates/layout.twig" %}

{% block content %}
<div class="signup d-flex flex-column">
    <div class="container-fluid">
        <header class="navbar d-flex justify-content-between">
            <img src="/img/logo.svg" onload="SVGInject(this)" alt="Greenbudget Logo">
            <nav>
                <a href="signin.html">Login</a>
            </nav>
        </header>
    </div>

    <div class="container">
        <form>
            <div class="header">
                <h1>Sign Up.</h1>
                <p class="small-text">It's easy and free.</p>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class="form-group col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" />
                </div>
            </div>

            <div class="form-group">
                <label for="emailAddress">Email</label>
                <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
                <a href="#" class="forgot-password d-block mt-2">Forgot Password?</a>
            </div>

            <button type="submit" class="btn btn-dark btn-lg btn-block">Continue</button>

            <div class="google d-flex justify-content-center align-items-center">
                <img src="/img/icons/google.svg" onload="SVGInject(this)" alt="Sign in with Google">
                <span>Sign in with Google</span>
            </div>
        </form>

        <div class="footer">
            <p>Already have an account?</p>
            <a href="signin.html">Sign In</a>
        </div>
    </div>
</div>
{% endblock %}
