{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar-alt.twig" %}

    <!-- Page Content  -->
    <div id="content" class="topsheet">
        {% include "../templates/partials/navbar.twig" %}

        <div class="container">
            <div class="sub-navbar d-flex justify-content-between">
                <nav class="breadcrumb-nav" aria-label="breadcrumb">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="topsheet.html">Top Sheet</a></li>
                        <li class="breadcrumb-item"><a href="#">Production Costs</a></li>
                        <li class="breadcrumb-item">
                            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Development Costs</a>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Dropdown link</a>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </div>
                        </li>
                    </ol>
                </nav>

                {% include "../templates/partials/budget-toggle.twig" %}
            </div>

            <div class="main budget">
                <div id='subTable' class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-teal">
                            <tr>
                                <th scope="col">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            A
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <h6 class="dropdown-header">Line Grouping</h6>
                                            <div class="radio-form">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineGrouping" id="exampleRadios1" value="option1" checked>
                                                  <label class="form-check-label" for="exampleRadios1">
                                                    Letter Group
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineGrouping" id="exampleRadios2" value="option2">
                                                  <label class="form-check-label" for="exampleRadios2">
                                                    Number Group
                                                  </label>
                                                </div>
                                            </div>

                                            <h6 class="dropdown-header">Line Number Format</h6>
                                            <div class="radio-form">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineNumberFormat" id="0000" value="option1" checked>
                                                  <label class="form-check-label" for="0000">
                                                    0000
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineNumberFormat" id="00" value="option2">
                                                  <label class="form-check-label" for="00">
                                                    00
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineNumberFormat" id="00-00" value="option2">
                                                  <label class="form-check-label" for="00-00">
                                                    00-00
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">Pre-Production / Wrap Labor</th>
                                </th>
                                <th scope="col">Name</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Rate</th>
                                <th scope="col" class="text-left">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Fringes
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editFringes"><i class="far fa-edit"></i>Edit</a>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">Estimated</th>
                                <th scope="col" class="bg-dark">Actual</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Fringes</th>
                                <th scope="col">Running</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>01</span>
                                </th>
                                <td class="category-description" data-toggle="modal" data-target="#editCategory">Supervising Producer</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>$2,500</td>
                                <td class="bg-dark">$2,500</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>02</span>
                                </th>
                                <td class="category-description" data-toggle="modal" data-target="#editCategory">Line Producer</td>
                                <td class="has-badge"><span class="badge badge-pill badge-purple">Jens Jacob</span></td>
                                <td>5</td>
                                <td class="has-badge"><span class="badge badge-pill badge-red">Days</span></td>
                                <td>$500</td>
                                <td class="multi-badge-inline"><span class="badge badge-pill badge-green">WGA</span> <span class="badge badge-pill badge-yellow">FICA</span> <span class="badge badge-pill badge-pink">WC</span> <span class="badge badge-pill badge-orange">Payroll</span> <span class="badge badge-pill badge-green">IATSE</span></td>
                                <td>$3,250</td>
                                <td class="bg-dark">$3,250</td>
                                <td>5</td>
                                <td>$500</td>
                                <td>2</td>
                                <td>30%</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>03</span>
                                </th>
                                <td class="category-description" data-toggle="modal" data-target="#editCategory">Director of Photography</td>
                                <td></td>
                                <td>10</td>
                                <td class="has-badge"><span class="badge badge-pill badge-green">Weeks</span></td>
                                <td>$1000</td>
                                <td></td>
                                <td>$13,000</td>
                                <td class="bg-dark">$13,000</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>04</span>
                                </th>
                                <td class="category-description" data-toggle="modal" data-target="#editCategory">Second Camera Operator</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-dark"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>05</span>
                                </th>
                                <td class="category-description" data-toggle="modal" data-target="#editCategory">1st AC</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-dark"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr class="add-new-row">
                                <th scope="row"><i class="fas fa-plus-circle"></i></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-dark"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="totals d-flex flex-column">
                    <div class="d-flex justify-content-end align-items-center">
                        <p>Sub Total:</p>
                        <p class="total">$2,500</p>
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                        <p>Fringes:</p>
                        <p class="total">$2,500</p>
                    </div>

                    <div class="d-flex justify-content-end align-items-center">
                        <p><strong>Estimated Total: </strong></p>
                        <p class="total"><strong>$2,500</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include "../templates/partials/modals.twig" %}

<div class="overlay"></div>
{% endblock %}
