{% extends "../templates/layout.twig" %}

{% block content %}
<div class="wrapper">

    {% include "../templates/partials/sidebar-alt.twig" %}

    <!-- Page Content  -->
    <div id="content" class="topsheet">
        {% include "../templates/partials/navbar.twig" %}

        <div class="container">
            <div class="sub-navbar d-flex justify-content-end">

                <div class="btn-group-toggle d-none d-xl-block" data-toggle="buttons">
                    <label class="btn btn-light active">
                        <input type="checkbox" checked autocomplete="off">
                        Estimated
                    </label>

                    <label class="btn btn-light">
                        <input type="checkbox" autocomplete="off">
                        Running
                    </label>

                    <label class="btn btn-light">
                        <input type="checkbox" autocomplete="off">
                        Actual
                    </label>

                    <label class="btn btn-light">
                        <input type="checkbox" autocomplete="off">
                        Details
                    </label>
                </div>

                <div class="dropdown d-block d-xl-none">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Options
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="estimated">
                            <label class="form-check-label" for="estimated">
                                Estimated
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="running">
                            <label class="form-check-label" for="running">
                                Running
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="actual">
                            <label class="form-check-label" for="actual">
                                Actual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="details">
                            <label class="form-check-label" for="details">
                                Details
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main budget">
                <h1 class="header">Sample Budget 2019</h1>

                <div class="budget-info">
                    <div class="row card-deck">
                        <div class="col col-md-6 col-lg-4">
                            <div class="card d-flex justify-content-center align-items-center">
                                <div class="card-image">
                                    <img src="img/production-company-logo-1.png" class="card-img" alt="Budget Thumbnail">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">#1204 Sample Budget</h5>
                                    <p class="card-text">Shooting Dates:</p>
                                    <p class="card-text">Location:</p>
                                    <p class="card-text">Total Days:</p>
                                </div>
                                <a href="np-project-info.html">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col col-md-6 col-lg-4">
                            <div class="card d-flex justify-content-center align-items-center">
                                <div class="card-image">
                                    <img src="img/production-company-logo-2.png" class="card-img" alt="Client Logo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Apple</h5>
                                    <p class="card-text">1 Apple Way</p>
                                    <p class="card-text">Cupertino, CA 91234</p>
                                    <p class="card-text">(813) 597-8676</p>
                                </div>
                                <a href="np-client-info.html">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col col-md-6 col-lg-4">
                            <div class="card d-flex justify-content-center align-items-center">
                                <div class="card-image">
                                    <img src="img/production-company-logo-3.png" class="card-img" alt="Production Company Logo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Sypher Films</h5>
                                    <p class="card-text">5426 Flemish Ln.</p>
                                    <p class="card-text">Los Angeles, CA 90029</p>
                                    <p class="card-text">(813) 597-8676</p>
                                </div>
                                <a href="np-production-info.html">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id='mainTable' class="table table-bordered table-hover">
                        {# <col style="width:1%"> #}

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Line
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <h6 class="dropdown-header">Line Grouping</h6>
                                            <div class="radio-form">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineGrouping" id="exampleRadios1" value="option1" checked>
                                                  <label class="form-check-label" for="exampleRadios1">
                                                    Letter Group
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineGrouping" id="exampleRadios2" value="option2">
                                                  <label class="form-check-label" for="exampleRadios2">
                                                    Number Group
                                                  </label>
                                                </div>
                                            </div>

                                            <h6 class="dropdown-header">Line Number Format</h6>
                                            <div class="radio-form">
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineNumberFormat" id="0000" value="option1" checked>
                                                  <label class="form-check-label" for="0000">
                                                    0000
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineNumberFormat" id="00" value="option2">
                                                  <label class="form-check-label" for="00">
                                                    00
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input class="form-check-input" type="radio" name="lineNumberFormat" id="00-00" value="option2">
                                                  <label class="form-check-label" for="00-00">
                                                    00-00
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="text-left">Category Description</th>
                                <th scope="col" class="text-center">Estimated</th>
                                <th scope="col" class="text-center">Running</th>
                                <th scope="col" class="text-center">Actual</th>
                                <th scope="col" class="text-center">Variance</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>A</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Pre-Production | Wrap Labor
                                    </a>
                                </td>
                                <td>$10,000</td>
                                <td>$10,000</td>
                                <td class="bg-dark">$10,000</td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>B</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Shooting Labor
                                    </a>
                                </td>
                                <td>$9,000</td>
                                <td>$9,000</td>
                                <td class="bg-dark">$9,000</td>
                                <td>$9,000</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>C</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Pre-Production | Wrap Expenses
                                    </a>
                                </td>
                                <td>$7,000</td>
                                <td>$7,000</td>
                                <td class="bg-dark">$7,000</td>
                                <td>$7,000</td>
                            </tr>
                        </tbody>

                        <thead class="bg-teal">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-left">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Production Costs
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCategoryTitle"><i class="far fa-edit"></i>Edit</a>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="text-right">$56,750</th>
                                <th scope="col" class="text-right">$56,750</th>
                                <th scope="col" class="text-right">$56,750</th>
                                <th scope="col" class="text-right">$56,750</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>D</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Director & Creative Fees
                                    </a>
                                </td>
                                <td>$10,000</td>
                                <td>$10,000</td>
                                <td class="bg-dark">$10,000</td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>E</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Talent Labor
                                    </a>
                                </td>
                                <td>$20,000</td>
                                <td>$20,000</td>
                                <td class="bg-dark">$20,000</td>
                                <td>$20,000</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>F</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Talent Expenses
                                    </a>
                                </td>
                                <td>$1,5600</td>
                                <td>$1,5600</td>
                                <td class="bg-dark">$1,5600</td>
                                <td>$1,5600</td>
                            </tr>
                        </tbody>

                        <thead class="bg-purple">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-left">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Above the Line
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCategoryTitle"><i class="far fa-edit"></i>Edit</a>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="text-right">$48,560</th>
                                <th scope="col" class="text-right">$48,560</th>
                                <th scope="col" class="text-right">$48,560</th>
                                <th scope="col" class="text-right">$48,560</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>G</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Post Production Labor
                                    </a>
                                </td>
                                <td>$2,000</td>
                                <td>$2,000</td>
                                <td class="bg-dark">$2,000</td>
                                <td>$2,000</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>H</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Editorial, Finishing & Post Production
                                    </a>
                                </td>
                                <td>$1,000</td>
                                <td>$1,000</td>
                                <td class="bg-dark">$1,000</td>
                                <td>$1,000</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>I</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Other
                                    </a>
                                </td>
                                <td>$200</td>
                                <td>$200</td>
                                <td class="bg-dark">$200</td>
                                <td>$200</td>
                            </tr>

                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>J</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Other
                                    </a>
                                </td>
                                <td>$4,000</td>
                                <td>$4,000</td>
                                <td class="bg-dark">$4,000</td>
                                <td>$4,000</td>
                            </tr>
                        </tbody>

                        <thead class="bg-red">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-left">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Post Production
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCategoryTitle"><i class="far fa-edit"></i>Edit</a>
                                        </div>
                                    </div>
                                </th>
                                <th scope="col" class="text-right">$7,200</th>
                                <th scope="col" class="text-right">$7,200</th>
                                <th scope="col" class="text-right">$7,200</th>
                                <th scope="col" class="text-right">$7,200</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>K</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Insurance
                                    </a>
                                </td>
                                <td>$2,000</td>
                                <td>$2,000</td>
                                <td class="bg-dark">$2,000</td>
                                <td>$2,000</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <input class="mx-auto" type="checkbox" id="row1">
                                    <span>L</span>
                                </th>
                                <td class="category-description">
                                    <a href="sub-category.html">
                                        Production Fee
                                    </a>
                                </td>
                                <td>$3,000</td>
                                <td>$3,000</td>
                                <td class="bg-dark">$3,000</td>
                                <td>$3,000</td>
                            </tr>

                            <tr class="add-new-row">
                                <th scope="row"><i class="fas fa-plus-circle"></i></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="bg-dark"></td>
                                <td></td>
                            </tr>
                        </tbody>

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Grand Total</th>
                                <th scope="col" class="text-right">$1,300,000</th>
                                <th scope="col" class="text-right">$1,290,000</th>
                                <th scope="col" class="text-right">$1,260,000</th>
                                <th scope="col" class="negative-variance text-right">-$40,000</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% include "../templates/partials/modals.twig" %}

<div class="overlay"></div>
{% endblock %}
