<div class="card">
    <div class="production-company d-flex align-items-center">
        <img src="/img/production-company-logo.png" alt="Company Logo" class="production-company-logo">
        <p class="small">Hall Pictures</p>
    </div>
    <img src="/img/budget-card.png" class="card-img-top" alt="Budget Image">
    <div class="dropdown">
        <div class="btn-group">
            <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                <img src="/img/icons/elipsis.svg" onload="SVGInject(this)" alt="Export Icon" />
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                <button class="dropdown-item" type="button"><i class="fas fa-share-square"></i> Share</button>
                <button class="dropdown-item" type="button"><i class="fas fa-edit"></i> Edit</button>
                <button class="dropdown-item" type="button"><i class="fas fa-upload"></i> Export</button>
                <button class="dropdown-item" type="button"><i class="fas fa-print"></i> Print</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Avengers 9</h5>
        <p class="card-text small">Last edited 5 mins ago by Jens J.</p>
    </div>
</div>
