<nav class="navbar navbar-light bg-light">
    <div class="btn-wrapper d-lg-none">
        <button type="button" id="sidebarCollapse">
            <img src="/img/icons/menu.svg" onload="SVGInject(this)" alt="Export Icon" />
        </button>
    </div>

    <div class="input-group input-search has-icon order-3 order-lg-1">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-search"></i>
            </span>
        </div>
        <input class="form-control" type="search" value="Search Budgets..." id="search-input" />
    </div>

    <div class="spinner d-none d-lg-inline mr-auto order-1 order-lg-2">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Changes Saved</span>
        </div>
        <strong class="spinner-status">Changes Saved</strong>
    </div>

    <div class="logo d-block d-lg-none">
        <img src="/img/logo-green.svg" alt="Greenbudget Logo" onload="SVGInject(this)">
    </div>

    <ul class="navbar-nav order-2 order-lg-4">
        <li class="nav-item dropdown">
            <div class="dropdown">
                <div class="nav-link avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/img/avatar.svg" class="user-avatar" onload="SVGInject(this)" alt="User Avatar">
                    <span class="d-none d-lg-inline">Jens Jacob</span>
                    <span class="caret"></span>
                </div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="logout.html">Logout</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
