<nav id="sidebar" class="sidebar-alt">
    <div class="sidebar-header">
        <div class="home">
            <a href="index.html">
                <img src="/img/logo.svg" alt="Greenbudget Logo" class="d-inline d-lg-none" draggable="false">
                <img src="/img/logo-alt.svg" alt="Greenbudget Logo" class="d-none d-lg-inline" draggable="false">
            </a>
        </div>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="np-project-info.html" class="d-flex align-items-center" title="New Project"><img src="/img/icons/new-project.svg" onload="SVGInject(this)" alt="New Project Icon" draggable="false"><span class="d-block d-lg-none">New Project</span></a>
        </li>
        <li>
            <a href="my-budgets.html" class="d-flex align-items-center" title="My Budgets"><img src="/img/icons/my-budgets.svg" onload="SVGInject(this)" alt="My Budgets Icon" draggable="false"><span class="d-block d-lg-none">My Budgets</span></a>
        </li>
        <li>
            <a href="#" class="d-flex align-items-center" title="Contacts"><img src="/img/icons/contacts.svg" onload="SVGInject(this)" alt="Contacts Icon" draggable="false"><span class="d-block d-lg-none">Contacts</span></a>
        </li>

        <hr/>

        <li class="disabled">
            <a href="#" class="d-flex align-items-center" title="Budget"><img src="/img/icons/budget.svg" onload="SVGInject(this)" alt="New Project Icon" draggable="false"><span class="d-block d-lg-none">Budget</span></a>
        </li>
        <li>
            <a href="petty-cash-expenses.html" class="d-flex align-items-center" title="New PC Envelope"><img src="/img/icons/pc-envelope.svg" onload="SVGInject(this)" alt="My Budgets Icon" draggable="false"><span class="d-block d-lg-none">New PC Envelope</span></a>
        </li>
        <li>
            <a href="petty-cash-summary.html" class="d-flex align-items-center" title="PC Envelopes"><img src="/img/icons/pc-log.svg" onload="SVGInject(this)" alt="Contacts Icon" draggable="false"><span class="d-block d-lg-none">PC Envelopes</span></a>
        </li>
        <li>
            <a href="purchase-orders.html" class="d-flex align-items-center" title="PO Log"><img src="/img/icons/po-log.svg" onload="SVGInject(this)" alt="Contacts Icon" draggable="false"><span class="d-block d-lg-none">PO Log</span></a>
        </li>

        <li class="settings">
            <a href="#" class="d-flex align-items-center" title="Settings"><img src="/img/icons/settings.svg" onload="SVGInject(this)" alt="Contacts Icon" draggable="false"><span class="d-block d-lg-none">Settings</span></a>
        </li>
    </ul>
</nav>
