<nav id="sidebar">
    <div class="sidebar-header">
        <div class="home">
            <a href="index.html">
                <img src="/img/logo.svg" alt="Greenbudget Logo">
            </a>
        </div>
        {# <div class="user-avatar-wrapper">
            <img src="/img/user-avatar.svg" class="user-avatar" onload="SVGInject(this)" alt="User Avatar">
            <h6 class="user-name">Jens Jacob</h6>
            <p class="text-muted">Producer</p>
        </div> #}
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="new-project.html" class="d-flex align-items-center"><img src="/img/icons/new-project.svg" onload="SVGInject(this)" alt="New Project Icon">New Project</a>
        </li>
        <li>
            <a href="my-budgets.html" class="d-flex align-items-center"><img src="/img/icons/my-budgets.svg" onload="SVGInject(this)" alt="My Budgets Icon">My Budgets</a>
        </li>
        <li>
            <a href="#" class="d-flex align-items-center"><img src="/img/icons/contacts.svg" onload="SVGInject(this)" alt="Contacts Icon">Contacts</a>
        </li>
    </ul>
</nav>
