.budgets {

    .navbar {

        @include media-breakpoint-up(lg) {
            padding-left: 280px;
            justify-content: space-between;
        }
    }

    .container {
        max-width: 1650px;

        @include media-breakpoint-up(lg) {
            margin-top: 2rem;
        }
    }

    .action-bar {
        margin-bottom: 20px;

        .header {
            margin-bottom: 0;
        }

        .btn-group {

            .fas {
                position: relative;
                top: 5px;

                @include media-breakpoint-up(lg) {
                    top: -1px;
                    margin-left: 5px;
                }

                &.fa-plus {
                    font-size: 12px;
                }

                &.fa-caret-down {
                    font-size: 16px;
                }
            }

            .btn {
                width: auto;
                min-width: auto;
                margin-right: 10px;

                @include media-breakpoint-down(md) {
                    border-radius: 100px;
                    width: 35px;
                    height: 35px;
                    padding: 0;
                }
            }

            .dropdown-toggle {
                margin-right: 0;
                border: 1px solid $dark;

                &:active {
                    rect {
                        fill: $white;
                    }
                }

                &:after {
                    content: none;
                }

                svg {
                    width: 15px;
                }

                rect {
                    fill: $dark;
                }
            }

            .dropdown-menu {
                padding: 30px 0;

                .dropdown-item {
                    padding: 0.25rem 0.8rem;
                }

                svg {
                    width: 33px;
                    margin-right: 5px;
                }
            }

            &.show .dropdown-toggle {
                rect {
                    fill: $white;
                }
            }
        }
    }

    .icons {
        [class*='col-'] {
            padding-left: 10px;
            padding-right: 10px;
        }

        .card {
            border-radius: 14px;
            margin-bottom: 20px;



            @include media-breakpoint-up(xl) {
                width: 100%;
            }

            @include media-breakpoint-up(xxl) {
                width: 100%;
            }

            .card-img-top {

                @include media-breakpoint-up(xl) {
                    height: 174px;
                }

                @include media-breakpoint-up(xxl) {
                    height: 224px;
                }
            }

            img {
                object-fit: cover;
            }

            .production-company {
                position: absolute;
                top: 15px;
                left: 15px;

                .production-company-logo {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                }

                p {
                    color: $white;
                    margin: 0 0 0 10px;
                }
            }

            .dropdown {
                position: absolute;
                right: 15px;
                top: 15px;
                color: white;
                cursor: pointer;

                .btn-group {

                    .dropdown-toggle {
                        padding: 0 15px;

                        &:after {
                            display: none;
                        }
                    }

                    button {
                        padding-right: 0;

                        svg {
                            float: right;
                            height: 38px;
                        }
                    }

                    .btn {
                        min-width: 0px;
                    }

                    .btn:not(:disabled):not(.disabled):active:focus {
                        background-color: transparent;
                        box-shadow: none;
                    }

                    .dropdown-menu {
                        min-width: 7.5rem;
                    }
                }

                .show > .btn.dropdown-toggle {
                    background-color: transparent;
                }
            }

            .card-body {
                background-color: $dark;
                color: $white;
                border-radius: 0 0 14px 14px;
                padding: 13px 15px;

                h5 {

                    @include media-breakpoint-only(xs) {
                        font-size: 14px;
                    }
                }

                .card-title {
                    margin: 0;
                }

                .card-text.small {
                    font-size: 10px;

                    @include media-breakpoint-up(sm) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
