.budgets {

    .navbar {

        @include media-breakpoint-up(lg) {
            padding-left: 280px;
            justify-content: space-between;
        }
    }

    .container {
        max-width: 1650px;
    }

    .action-bar {
        margin-bottom: $spacer;

        .btn-group {

            .fas {
                position: relative;
                top: 5px;

                @include media-breakpoint-up(lg) {
                    top: -1px;
                    margin-left: 5px;
                }

                &.fa-plus {
                    font-size: 12px;
                }

                &.fa-caret-down {
                    font-size: 16px;
                }
            }

            .btn {
                width: auto;
                min-width: auto;
                margin-right: 10px;

                @include media-breakpoint-down(md) {
                    border-radius: 100px;
                    width: 35px;
                    height: 35px;
                    padding: 0;
                }
            }

            .dropdown-toggle {
                margin-right: 0;
                border: 1px solid $dark;

                &:active {
                    rect {
                        fill: $white;
                    }
                }

                &:after {
                    content: none;
                }

                svg {
                    width: 15px;
                }

                rect {
                    fill: $dark;
                }
            }

            &.show .dropdown-toggle {
                rect {
                    fill: $white;
                }
            }
        }
    }

    .card {
        border-radius: 14px;
        margin-bottom: 35px;

        @include media-breakpoint-up(xl) {
            width: auto;
        }

        .card-img-top {

            @include media-breakpoint-up(xl) {
                min-height: 124px;
            }
        }

        img {
            object-fit: cover;
        }

        .production-company {
            position: absolute;
            top: 15px;
            left: 15px;

            .production-company-logo {
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }

            p {
                color: $white;
                margin: 0 0 0 10px;
            }
        }

        .dropdown {
            position: absolute;
            right: 15px;
            top: 15px;
            color: white;
            cursor: pointer;

            .btn-group .dropdown-toggle:after {
                display: none;
            }
        }

        .card-body {
            background-color: $dark;
            color: $white;
            border-radius: 0 0 14px 14px;
            padding: 10px 14px;

            @include media-breakpoint-up(sm) {
                padding: 15px;
            }

            h5 {

                @include media-breakpoint-only(xs) {
                    font-size: 14px;
                }
            }

            .card-title {
                margin: 0;
            }

            .card-text.small {
                font-size: 10px;

                @include media-breakpoint-up(sm) {
                    font-size: 12px;
                }
            }
        }
    }
}
