.navbar {
    justify-content: space-between;
    padding: .5rem 1rem;

    @include media-breakpoint-up(lg) {
        padding: 0 2rem;
        height: 49px;
    }

    &.navbar-basic {
        justify-content: space-between;

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
        }
    }

    button {
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:focus {
            outline: none;
        }

        svg {
            width: 30px;
        }
    }

    .input-search {
        margin: 5px 0;
        width: 85%;

        // @include media-breakpoint-up(sm) {
        //     margin: 0 0 0 20px;
        // }

        @include media-breakpoint-up(lg) {
            width: 40%;
            margin: 0 0 0 20px;
        }

        @include media-breakpoint-up(xl) {
            width: 25%;
            margin: 0 0 0 20px;
        }

        &.has-icon {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 40%;
                margin: 0 0 0 20px;
            }

            @include media-breakpoint-up(xl) {
                width: 25%;
                margin: 0 0 0 20px;
            }
        }

        .input-group-text,
        .form-control {
            border: none;
            box-shadow: none;
            background-color: $body-bg;
        }

        .form-control {
            padding-left: 0;
        }
    }

    .spinner {
        margin-right: 20px;

        .spinner-border {
            margin-left: 20px;
            margin-right: 10px;
            border-width: 0.1em;
        }

        .spinner-status {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: normal;
        }
    }

    .export-icon {
        margin-right: 16px;

        @include media-breakpoint-up(lg) {
            padding: 11px 18px;
            border-left: 1px solid $gray-200;
            margin: 0;
        }

        svg {
            width: 20px;
        }
    }

    .logo {

        svg {
            width: 150px;
        }
    }

    .navbar-nav {

        .nav-item {

            .dropdown {
                cursor: pointer;
                -webkit-user-select: none; /* webkit (safari, chrome) browsers */
                -moz-user-select: none; /* mozilla browsers */
                -khtml-user-select: none; /* webkit (konqueror) browsers */
                -ms-user-select: none; /* IE10+ */

                .dropdown-toggle:after {
                    content: none;
                }

                .caret {
                    position: relative;
                    right: 30px;
                    top: 4px;
                }

                &.show .caret:before,
                &.show .caret:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 0;
                    border-width: 7px 8px;
                    border-style: solid;
                    border-color: transparent;
                    z-index: 1001;
                }

                &.show .caret:before {
                    bottom: -17px;
                    right: -8px;
                    border-bottom-color: #ccc;
                }

                &.show .caret:after {
                    bottom: -18px;
                    right: -8px;
                    border-bottom-color: #fff;
                }

                .dropdown-menu {
                    position: absolute;

                }
            }

            .nav-link {
                color: $body-color;
                margin-right: 10px;
                padding: 0;

                &:last-child {
                    margin-right: 0;
                }

                &.avatar {
                    text-transform: capitalize;
                    font-size: $font-size-md;
                    padding: 0 0 0 8px;

                    @include media-breakpoint-up(lg) {
                        padding: 10px 0 9px 8px;
                        border-left: 1px solid $gray-200;
                    }

                    svg {
                        vertical-align: middle;
                        width: 31px;
                        height: 31px;
                        border-radius: 50%;
                        stroke: white;
                        stroke-width: 7px;
                    }

                    span {
                        font-size: 12px;
                    }
                }
            }

            i {
                font-size: 20px;
                margin-left: 5px;
            }
        }
    }
}

.sub-navbar {
    margin-top: 10px;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: right;
    }

    @include media-breakpoint-up(md) {
        align-items: center;
    }

    .breadcrumb-nav {

        @include media-breakpoint-down(sm) {
            width: auto;
        }

        .breadcrumb {
            background-color: transparent;
            padding-left: 0;
            margin-bottom: 0;

            .breadcrumb-item::before {
                display: inline-block;
                padding-right: 0.5rem;
                color: #6c757d;
                content: "/";
            }
        }
    }

    .btn-group-toggle,
    .btn-group {
        margin-top: 5px;
    }

    .form-check {
        padding: 5px 35px;
    }
}
