.navbar {

    &.navbar-light .navbar-brand {
        color: $gray-500;

        span {
            color: $gray-600;
        }
    }

    .navbar-nav {

        .nav-item {

            .nav-link {
                color: $dark;
                text-transform: uppercase;

                &.avatar {
                    text-transform: capitalize;
                    font-size: $font-size-md;

                    img {
                        vertical-align: middle;
                        width: 43px;
                        height: 43px;
                        border-radius: 50%;
                        border: 3px solid $white;
                    }
                }
            }
        }
    }
}
