.navbar {
    justify-content: space-between;

    @include media-breakpoint-up(md) {
        padding: .5rem 2rem;
    }

    button {
        background-color: transparent;
        border: none;
        box-shadow: none;

        &:focus {
            outline: none;
        }
    }

    .input-search {
        margin: 5px 0;
        width: 85%;

        // @include media-breakpoint-up(sm) {
        //     margin: 0 0 0 20px;
        // }


        @include media-breakpoint-up(lg) {
            width: 40%;
            margin: 0 0 0 20px;
        }

        @include media-breakpoint-up(xl) {
            width: 25%;
            margin: 0 0 0 20px;
        }

        .input-group-text,
        .form-control {
            border: none;
            box-shadow: none;
            background-color: $body-bg;
        }

        .form-control {
            padding-left: 0;
        }

        .export {

            svg {
                width: 20px;
            }
        }
    }

    .spinner {
        .spinner-border {
            margin-left: 20px;
            margin-right: 10px;
            border-width: 0.1em;
        }

        .spinner-status {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: normal;
        }
    }

    .export-icon {
        margin-right: 15px;

        svg {
            width: 20px;
        }
    }

    .logo {

        svg {
            width: 150px;
        }
    }

    .navbar-nav {

        .nav-item {

            .nav-link {
                color: $body-color;
                margin-right: 10px;
                padding: 0;

                &:last-child {
                    margin-right: 0;
                }

                &.avatar {
                    text-transform: capitalize;
                    font-size: $font-size-md;
                    padding: 0;

                    svg {
                        vertical-align: middle;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 3px solid $white;
                    }
                }
            }

            i {
                font-size: 20px;
                margin-left: 5px;
            }
        }
    }
}

.sub-navbar {
    margin-top: 10px;
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
    }

    .breadcrumb-nav {

        @include media-breakpoint-down(sm) {
            width: auto;
        }

        .breadcrumb {
            background-color: transparent;
            padding-left: 0;

            .breadcrumb-item::before {
                display: inline-block;
                padding-right: 0.5rem;
                color: #6c757d;
                content: "/";
            }
        }
    }

    .btn-group-toggle,
    .btn-group {
        margin-top: 5px;
    }
}
