.new-project {

    .container {

        @include media-breakpoint-up(xl) {
            padding-right: 63px;
        }
    }

    form {
        background-color: $white;
        padding: 32px 20px;
        border-radius: 32px;
        -webkit-box-shadow: -10px 0 0 $dark;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

        max-width: 1200px;

        @include media-breakpoint-up(sm) {
            padding: 32px 30px;
        }

        @include media-breakpoint-up(md) {
            padding: 32px 63px;
        }

        .form-group.row {
            margin-bottom: .7rem;

            .col-form-label {

                @include media-breakpoint-up(xl) {
                    text-align: right;
                }

                @include media-breakpoint-up(xxl) {
                    text-align: left;
                }
            }
        }

        .image-upload,
        .image-upload-alt {

            label {
                cursor: pointer;
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 19px;
                }
            }

            input {
                display: none;
            }
        }

        .image-upload {
            // width: 60%;

            .form-text {
                @include font-size(11px);
                margin-left: 10px;
            }
        }

        .image-upload-alt {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;

            @include media-breakpoint-up(xl) {
                text-align: center;
                border-left: 1px solid $gray-200;
            }

            label {
                width: 60%;

                @include media-breakpoint-up(xl) {
                    margin: auto;
                }
            }
        }
    }
}
