.signup,
.signin {
    height : auto;
    min-height : 100%;

    .container {
        padding: 0 30px 100px 30px;
        height : auto;
        min-height : 100%;
    }

    header {
        margin: 0 0 50px 0;
        padding-top: 30px;

        nav {
            text-transform: uppercase;

            a {
                color: $white;
                @include font-size(24px);
            }
        }
    }

    form {
        background-color: $white;
        padding: 45px 30px;
        border-radius: 56px;
        max-width: 535px;
        margin: auto;

        @include media-breakpoint-up(md) {
            padding: 75px 65px;
        }

        h1 {
            @include font-size(45px);
            font-weight: 900;
            margin-bottom: 5px;
        }

        .header p {
            @include font-size(14px);
            font-weight: 600;
        }

        .forgot-password {
            margin-left: 10px;
            @include font-size(14px);
            font-weight: 300;
        }

        button {
            border-radius: 46px;
            margin: 50px 0 30px 0;
            text-transform: uppercase;
            padding: 17px;
            letter-spacing: 5px;
        }

        .google {
            text-align: center;

            svg {
                position: relative;
                top: -2px;
                width: 17px;
                margin-right: 20px;
            }

            span {
                text-transform: uppercase;
                @include font-size(14px);
            }
        }
    }

    .footer {
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        @include font-size(12px);
        letter-spacing: 2px;

        p {
            color: $white;
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;
            color: $dark;
        }
    }
}

.signup {
    background: #22c678;
    background: -moz-linear-gradient(left, #22c678 0%, #009f7a 100%);
    background: -webkit-linear-gradient(left, #22c678 0%,#009f7a 100%);
    background: linear-gradient(to right, #22c678 0%,#009f7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22c678', endColorstr='#009f7a',GradientType=1 );
}

.signin {
    background: #22c678;
    background: -moz-linear-gradient(right, #22c678 0%, #009f7a 100%);
    background: -webkit-linear-gradient(right, #22c678 0%,#009f7a 100%);
    background: linear-gradient(to left, #22c678 0%,#009f7a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009f7a', endColorstr='#22c678',GradientType=1 );
}
