.table {
    background: $white;
    border-collapse: collapse;
    border-radius: $border-radius;
    overflow: hidden;
    @include font-size(13px);
    line-height: 1;

    thead {
        text-transform: uppercase;
        color: $white;
        line-height: 1.5;

        .dropdown {
            top: 1px;

            .dropdown-toggle {
                min-width: 56px;

                @include media-breakpoint-up(xl) {
                    &:after {
                        visibility: hidden;
                    }

                    &:hover:after {
                        visibility: visible;
                    }
                }
            }

            .dropdown-header {
                font-weight: bold;
                color: $dark;
            }

            .radio-form {
                margin: 0 0 10px 25px;
                text-transform: capitalize;

                .form-check-input {
                    margin-top: 0.2rem;
                }

                .form-check-label {
                    font-weight: normal;
                }
            }

            .btn {
                color: $white;
                padding: 0;
                text-transform: uppercase;
                font-weight: bold;
                @include font-size(13px);

                &:hover {
                    color: $white;
                }

                &:active,
                &:focus,
                &:not(:disabled):not(.disabled):active:focus, {
                    box-shadow: none;
                }
            }

            .dropdown-menu {
                padding: 15px 0;

                .dropdown-item {
                    text-transform: capitalize;

                    i {
                        position: relative;
                        top: -1px;
                        @include font-size(13px);
                        margin-right: 5px;
                    }
                }
            }
        }

        th {
            border: 0;

            &.col-divider {
                background: $body-bg;
                border: 1px solid $body-bg;
            }
        }

        tr {

            th {
                &:first-child {
                    text-align: center;
                }

                &.bg-dark {
                    border-left: 1px solid $dark;
                }
            }
        }
    }

    th[scope=row] {
        position: relative;
        color: $gray-500;
        width: 50px;
        text-align: center;
        border-left: 0;
        border-right: 1px solid transparent;
        padding-right: 36px;

        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f58e";
            margin-right: 15px;
            color: transparent;
            position: absolute;
            left: 5px;
            cursor: pointer;
        }

        input[type=checkbox] {
            display: none;
            margin-top: 4px;
        }
    }

    tbody {

        tr {

            &:hover {
                background: lighten($primary, 45);

                .bg-dark {
                    background-color: lighten($primary, 45) !important;
                    color: $dark;
                    border-top: 1px solid $gray-300;
                    border-bottom: 1px solid $gray-300;
                }

                th[scope=row] {

                    &::before {
                        color: $gray-300;
                    }

                    span {
                        display: none;
                    }

                    input[type=checkbox] {
                        display: block;
                    }
                }

                td span {
                    cursor: pointer;
                    color: $gray-400;
                }
            }

            // td.multi-badge-inline {
            //     max-width: 17px;
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     max-width: 250px;
            //     overflow: scroll;
            //     overflow-y: hidden;
            //     overflow: auto;
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            // }

            &.bg-highlight {
                background-color: lighten($primary, 45);

                .bg-dark {
                    background-color: lighten($primary, 45) !important;
                    color: $dark;
                    border-top: 1px solid $gray-300;
                    border-bottom: 1px solid $gray-300;
                }
            }

            &.borderless {

                th,
                td {
                    border: 0;
                }
            }
        }

        td {
            vertical-align: middle;

            &.category-description {
                position: relative;
                padding-right: 80px;

                span {
                    position: absolute;
                    right: 15px;
                    font-weight: 900;
                    @include font-size(16px);
                    float: right;
                    color: $gray-400;
                    transform: rotate(135deg);

                    @include media-breakpoint-up(lg) {
                        color: transparent;
                    }
                }

                a {
                    color: $body-color;
                }
            }
        }

        th,
        td:not(.category-description) {
            text-align: right;
        }

        td.has-badge,
        td.multi-badge-inline {
            text-align: left;
            overflow: auto;
            text-overflow: inherit;
        }

        span, div, th, td {
          // overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @include media-breakpoint-up(xl) {
              max-width: 250px;
          }
        }

        th[scope=col] {
            text-align: left;
        }

        .col-divider {
            background: $body-bg;
            border: 1px solid $body-bg;
        }

        .add-new-row th[scope=row] i {
            @include font-size(20px);
        }

        [class*="bg-"] {
            color: $white;
            border: none;

            th {
                border: none;
            }

        }

        [class*="bg-highlight"] {
            color: $dark;

            th[scope=row] {
                border: 1px solid $gray-300;
                border-right: 1px solid transparent;

                &::before {
                    color: $gray-300;
                }

                span {
                    display: none;
                }

                input[type=checkbox] {
                    display: block;
                }
            }
        }

        .thead-dark th.negative-variance {
            color: $red;
        }

        .add-new-row {
            cursor: pointer;

            th[scope=row] {
                border-bottom: none;

                &:before {
                    content: '';
                }
            }
        }
    }
}

.totals {
    text-transform: uppercase;

    .transparent-cell {
        background: $body-bg;
        border: 1px solid $body-bg;
    }

    .bold {
        font-weight: 900;
    }
}
