.table-basic {

    tbody {

        th,
        td:not(.category-description) {
            text-align: left;
            // width:none;
            white-space:nowrap;
        }

        td {
            width: inherit;
            white-space:nowrap;
        }

    }

    form {
        background: $white;
        border: 1px solid $gray-300;
        padding: $spacer*2;

        .form-row {

            input {
                border-radius: $border-radius;
            }
        }
    }

    h1 {
        font-weight: 900;
    }

    th[scope=row] {
        text-align: center;
        padding: .75rem;

        &::before {
            content: none;
        }
    }

    .actual-price {
        text-align: right;
    }
}
