.topsheet {

    .container {
        width: 100%;

        @include media-breakpoint-up(lg) {
            max-width: 821px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 140px 0 137px;
        }

        @include media-breakpoint-up(xl) {
            max-width: 1097px;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 1440px;
        }
    }

    .budget {

        .budget-title {
            text-align: center;
            font-weight: bold;

            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }

        .budget-info {

            .card-deck {
                margin-bottom: 15px;

                @include media-breakpoint-down(md) {
                    overflow-x: auto;
                    white-space: nowrap;
                    display: block;
                }

                .col {
                    display: inline-block;
                    float: none;
                }

                .card {
                    flex-direction: row;
                    border: none;
                    margin: 0 0 15px 0;
                    padding: 18px;
                    max-height: 107px;

                    @include media-breakpoint-up(lg) {
                        padding: 10px;
                    }

                    .card-image {
                        width: 77px;
                        height: 77px;
                    }

                    .card-body {
                        padding: 0;
                        margin-left: 10px;
                        @include font-size(12px);

                        .card-title {
                            font-weight: 900;
                            margin: 0;
                            @include font-size(14px);
                        }

                        .card-text {
                            margin-bottom: 0;
                            line-height: 1.2;
                            @include font-size(12px);
                        }
                    }

                    svg {
                        fill: red;
                        width: 25px;

                        @include media-breakpoint-up(xl) {
                            visibility: hidden;
                        }
                    }

                    &:hover svg {

                        @include media-breakpoint-up(xl) {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .add-new-row {
            th[scope=row] {
                border-bottom: 1px solid $gray-300;
            }
        }
    }
}
