.budget {

    .budget-title {
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }
    }

    .budget-info {

        .card-deck {
            flex-direction: column;
            width: 100%;

            @include media-breakpoint-up(lg) {
                flex-direction: row;
            }

            .card {
                flex-direction: row;
                border: none;
                margin-bottom: 15px;

                @include media-breakpoint-up(md) {
                    // width: 495px;
                }

                .card-body {
                    padding: 0;

                    @include media-breakpoint-down(lg) {
                        font-size: 12px;
                    }

                    .card-title {
                        font-weight: bold;
                        margin: 0;

                        @include media-breakpoint-down(lg) {
                            font-size: 14px;
                        }
                    }

                    .card-text {
                        margin-bottom: 0;
                    }
                }

                .fas {
                    color: $gray-300;
                    padding: 20px;
                    font-size: 20px;

                    @include media-breakpoint-up(xl) {
                        font-size: 35px;
                    }
                }
            }
        }
    }

    .add-new-row {
        th[scope=row] {
            border-bottom: 1px solid $gray-300;
        }
    }

}
