$grid-breakpoints: (
  xs:  0,
  sm:  576px,
  md:  768px,
  lg:  992px,
  xl: 1200px,
  xxl:  1440px
);

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #797695;
$pink:    #e83e8c;
$red:     #E05F76;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #1ABC78;
$teal:    #00BFB2;
$cyan:    #17a2b8;
$gray:    #F7F7F7;

$colors: (

);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          #404152;

$theme-colors: (
    "primary":    #62BBE3,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gray":       $gray-300,
    "blue":       $primary,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan
);

$enable-responsive-font-sizes: true;
$enable-shadows: true;

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir.ttc") format("ttc");
}
$font-family-sans-serif: Avenir;
$line-height-sm: 1;
$font-size-md: 1.125rem;
$border-radius: .6rem;

$body-bg: #F7F7F7;
$text-muted: #9EA0A5;

$table-dark-bg: $dark;
$table-dark-border-color: $dark;
$table-cell-padding: .55rem;

// Spacers

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 3.5),
    7: ($spacer * 4),
    8: ($spacer * 4.5),
    9: ($spacer * 6),
    10: ($spacer * 6.5)
  ),
  $spacers
);
